
a {
	color: hsl(43, 98%, 50%);
}

.primary {
	background-color: hsl(43, 98%, 50%) !important; /*210°, 79%, 46%*/
	border-color: hsl(43, 98%, 50%) !important; /*210°, 79%, 46%*/
}

.primary--text {
	color: hsl(43, 98%, 50%) !important; /*210°, 79%, 46%*/
	caret-color: hsl(43, 98%, 50%) !important; /*210°, 88%, 82%  210°, 79%, 46%*/
}

.primary.lighten-5 {
	background-color: hsl(43, 98%, 75%) !important;
	border-color: hsl(43, 98%, 75%) !important;
}

.primary--text.text--lighten-5 {
	color: hsl(43, 98%, 75%) !important;
	caret-color: hsl(43, 98%, 75%) !important;
}

.primary.lighten-4 {
	background-color: hsl(43, 98%, 70%) !important;
	border-color: hsl(43, 98%, 70%) !important;
}

.primary--text.text--lighten-4 {
	color: hsl(43, 98%, 70%) !important;
	caret-color: hsl(43, 98%, 70%) !important;
}

.primary.lighten-3 {
	background-color: hsl(43, 98%, 65%) !important;
	border-color: hsl(43, 98%, 65%) !important;
}

.primary--text.text--lighten-3 {
	color: hsl(43, 98%, 65%) !important;
	caret-color: hsl(43, 98%, 65%) !important;
}

.primary.lighten-2 {
	background-color: hsl(43, 98%, 60%) !important;
	border-color: hsl(43, 98%, 60%) !important;
}

.primary--text.text--lighten-2 {
	color: hsl(43, 98%, 60%) !important;
	caret-color: hsl(43, 98%, 60%) !important;
}

.primary.lighten-1 {
	background-color: hsl(43, 98%, 55%) !important; /*214°, 70%, 94%  214°, 84%, 61% */
	border-color: hsl(43, 98%, 55%) !important;
}

.primary--text.text--lighten-1 {
	color: hsl(43, 98%, 55%) !important;
	caret-color: hsl(43, 98%, 55%) !important;
}

.primary.darken-1 {
	background-color: hsl(43, 98%, 40%) !important;
	border-color: hsl(43, 98%, 40%) !important;
}

.primary--text.text--darken-1 {
	color: hsl(43, 98%, 40%) !important;
	caret-color: hsl(43, 98%, 40%) !important;
}

.primary.darken-2 {
	background-color: hsl(43, 98%, 30%) !important;
	border-color: hsl(43, 98%, 30%) !important;
}

.primary--text.text--darken-2 {
	color: hsl(43, 98%, 30%) !important;
	caret-color: hsl(43, 98%, 30%) !important;
}

.primary.darken-3 {
	background-color: hsl(43, 98%, 20%) !important;
	border-color: hsl(43, 98%, 20%) !important;
}

.primary--text.text--darken-3 {
	color: hsl(43, 98%, 20%) !important;
	caret-color: hsl(43, 98%, 20%) !important;
}

.primary.darken-4 {
	background-color: hsl(43, 98%, 10%) !important;
	border-color: hsl(43, 98%, 10%) !important;
}

.primary--text.text--darken-4 {
	color: hsl(43, 98%, 10%) !important;
	caret-color: hsl(43, 98%, 10%) !important;
}
